## The URL path on which to listen. The "Payload URL" you set in the GitHub
## webhook settings should be https://yourdomain.com<webhook_path>. To use
## the root URL, set this to /
webhook_path: /webhook/docs

## Setting a secret token is recommended. This should be set to the same value
## as the "Secret" field when configuring your GitHub webhook. If set, the
## application will check that the request originated from a source with
## with knowledge of the secret token.
# secret_token: PASTE_SECRET_TOKEN_HERE

## If this is true, the handler will verify that the request is coming from a
## valid GitHub URL. The handler retrieves the list of valid URLs from
## https://api.github.com/meta
verify_github_ip: true

## Set the type of the build that should be run to prepare the documentation.
## Options are:
##  - mkdocs: (default) Run `mkdocs build` and copy the result to the output
##            directory.
##  - copy: Copy the repository directly to the output directory. Useful for
##          listening to changes on a branch to which another tool pushes
##          documentation builds.
build_type: mkdocs

## This configures the repositories and branches for which the handler should
## build documentation, as well as the paths where the built site should be put.
## You can include any number of repositories or branches for each repository by
## extending the pattern below
##
## repositories:
##   myorganization/repo1:
##     master: /var/www/mysite1/latest
##     v1.0: /var/www/mysite1/v1.0
##   myorganization/repo2:
##     master: /var/www/mysite2
##
## Repository names are in the format <GitHub user/organization>/<repo>
repositories:
  dpkoch/gwmh:
    master: /var/www/gwmh